# Virtual env
.venv

# Byte-compiled
__pycache__/

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# coverage
.coverage

# Distribution / packaging
.Python
/bin/
/include/
/lib/
/build/
/dist/

# eggs
*.egg-info/

# macOS
.DS_Store

# Xcode
*.xcbuild
*.xccheckout
*.xcuserdata
*.xcuserstate

# Pycharm
.idea

# VSCode
.vscode

# Resources
*.tar.gz
pip-selfcheck.json

# Compiled files
*.py[cod]
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
