# Distribution / packaging
.Python
bin/
include/
lib/
dist/
build/

# Pycharms
.idea

# Resources
*.tar.gz
pip-selfcheck.json

# Compiled files
*.py[cod]
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# eggs
strongarm.egg-info/
