[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing = "*"
invoke = "*"
capstone = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.7"
