[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
capstone = "*"
more_itertools = "*"
strongarm_dataflow = {git = "ssh://git@bitbucket.org/datatheorem/strongarm-dataflow.git",ref = "SCAN-2415-invalid-bytecode-string-xref"}

[dev-packages]
# Packages for developing
invoke = "*"
flake8 = "*"
autoflake = "*"
isort = "*"
black = "==19.10b0"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.7"
